@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primeColor font-Urbanist;
  }
  @font-face {
    font-family: "Urbanist";
    src: url("/fonts/Urbanist-ExtraBold.eot");
    src: url("/fonts/Urbanist-ExtraBold.ttf");
    src: url("/fonts/Urbanist-ExtraBold.woff");
    src: url("/fonts/Urbanist-ExtraBold.woff2");
  }
}
